body {
  font-family: 'Barlow', sans-serif;
}

hr {
  margin-top: 0;
  margin-bottom: 1px;

  &.hr-upper {
    margin-top: 1.5rem;
    border-color: #e8e8e8;
  }

  &.hr-lower {
    margin-bottom: 1.5rem;
    border-color: white;
  }
}

.btn {
  background-color: #ef7782;
  box-shadow: 2px 2px 5px #d3d7df, -2px -2px 5px #ffffff;
  border-radius: 1.5rem;
  border: none;
  color: black;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

label {
  font-weight: 600;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

input.form-control,
textarea.form-control,
.custom-select {
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  box-shadow: 4px 4px 6px rgba(208, 212, 220, 0.35), -4px -4px 6px #ffffff, inset 0 4px 6px rgba(208, 212, 220, 0.5);
  border-radius: 1.5rem;

  &:focus {
    border-color: #8cade2;
    background-color: #f8f8f8;
    box-shadow: 4px 4px 6px rgba(208, 212, 220, 0.35), -4px -4px 6px #ffffff, inset 0 4px 6px rgba(208, 212, 220, 0.5);
  }

  &::placeholder {
    font-style: italic;
    font-size: 0.8rem;
  }
}

textarea.form-control {
  padding: 0.5rem 1rem;
  resize: none;
}

.custom-select {
  width: unset;
}

.form-note {
  font-size: 0.75rem;
  font-style: italic;
}

.form-group {
  margin-bottom: 0;
}

.error-message {
  color: #ab2131;
  font-size: 0.8rem;
  padding-left: 1rem;
}

.error-input {
  border: 1px solid #ab2131 !important;
}

.custom-radio {
  label.custom-control-label {
    &:before, &:after {
      top: -0.1rem;
      left: -2rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &:before {
      background-color: #ef7782;
      border-color: #ef7782;
    }

    &:after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
    }
  }
}

.custom-checkbox {
  padding-left: 2rem;
  margin-bottom: 1rem;

  .custom-control-input:checked ~ .custom-control-label {
    &:after {
      background-color: #ef7782;
    }
  }

  label.custom-control-label {
    font-weight: 500;
    font-size: 0.75rem;
    cursor: pointer;

    &:before, &:after {
      top: -0.1rem;
      left: -2rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.25rem;
    }

    &:before {
      background-color: #f8f8f8;
    }
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }
}

.dropzone {
  border: 1px dashed #8cade2;
  border-radius: 1rem;
  padding: 1rem 1.5rem;

  &.drop-active {
    border: 4px solid #8cade2;
  }

  .filenames {
    font-style: normal;

    img {
      height: 1.2rem;
    }
  }

  div hr {
    width: 100%;
    margin: 0;
    &.hr-upper {
      margin-top: 0.75rem
    }
    &.hr-lower {
      margin-bottom: 0.75rem;
    }
  }

  label {
    margin-top: 0;
    font-weight: normal;
    cursor: pointer;

    .drop-circle {
      width: 2rem;
      min-width: 2rem;
      height: 2rem;
      margin: 0 1rem 0 0;
      padding: 0;

      img {
        width: 50%;
        height: 50%;
      }
    }

    p {
      font-style: italic;
      font-size: 0.8rem;
      margin: 0;
    }
  }
}
