@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;0,800;1,300;1,600&display=swap');

body {
  font-family: 'Barlow', sans-serif;
}

hr {
  margin-top: 0;
  margin-bottom: 1px;

  &.hr-upper {
    margin-top: 1.5rem;
    border-color: #e8e8e8;
  }

  &.hr-lower {
    margin-bottom: 1.5rem;
    border-color: white;
  }
}

.btn {
  background-color: #ef7782;
  box-shadow: 2px 2px 5px #d3d7df, -2px -2px 5px #ffffff;
  border-radius: 1.5rem;
  border: none;
  color: black;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}
