body {
  font-family: 'Barlow', sans-serif;
  color: black;
}

hr {
  margin-top: 0;
  margin-bottom: 1px;

  &.hr-upper {
    margin-top: 1.5rem;
    border-color: #e8e8e8;
  }

  &.hr-lower {
    margin-bottom: 1.5rem;
    border-color: white;
  }
}

.btn, .btn:focus, .btn:active {
  background-color: #ef7782;
  box-shadow: 2px 2px 5px #d3d7df, -2px -2px 5px #ffffff;
  border-radius: 1.5rem;
  border: none;
  color: black;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
  padding: 0.4rem 0.75rem;

  svg {
    width: 1rem;
    height: 1rem;
    right: 1rem;
    transition: fill 0.15s ease-in-out;
  }

  &:hover {
    background-color: #1A365D;
    color: white;

    svg {
      fill: white !important;
    }
  }
}

/*** FORM ELEMENTS ***/
.initiative-form {
  box-shadow: 4px 4px 11px #d4d9e1, -5px -5px 11px #ffffff;
  border-radius: 0.5rem;
  margin: 3rem 0;
  padding: 2.5rem 1.5rem;

  h4 {
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2.4px;
    margin-bottom: 0;
  }

  .form-subtitle {
    margin-bottom: 2rem;
    font-style: italic;
  }
}

.form-top {
  height: 1rem;
  width: calc(100% - 30px);
  position: absolute;
  top: 3rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  &.form-top-MM {
    background-color: #8cade2;
  }

  &.form-top-II {
    background-color: #70b6a3;
  }

  &.form-top-ZM {
    background-color: #d9ab27;
  }
}

label {
  font-weight: 600;
  font-style: italic;
  font-size: 1rem;
  line-height: normal;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}

input.form-control,
textarea.form-control,
.custom-select {
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  box-shadow: 4px 4px 6px rgba(208, 212, 220, 0.35), -4px -4px 6px #ffffff, inset 0 4px 6px rgba(208, 212, 220, 0.5);
  border-radius: 1.5rem;

  &:focus {
    border-color: #8cade2;
    background-color: #f8f8f8;
    box-shadow: 4px 4px 6px rgba(208, 212, 220, 0.35), -4px -4px 6px #ffffff, inset 0 4px 6px rgba(208, 212, 220, 0.5);
  }

  &::placeholder {
    font-style: italic;
    font-size: 0.8rem;
  }
}

textarea.form-control {
  padding: 0.5rem 1rem;
  resize: none;
}

.custom-select {
  @media (min-width: 576px) {
    max-width: 40%;
  }
}

.form-note {
  font-size: 0.75rem;
  font-style: italic;
}

.form-group {
  margin-bottom: 0;
}

.error-message {
  color: #ab2131;
  font-size: 0.8rem;
  padding-left: 1rem;
  overflow-wrap: break-word;
}

.message {
  border-radius: 1rem;
  margin: 1.5rem 0;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
  font-style: italic;
  font-size: 0.9rem;

  span.clickable {
    right: 1rem;
    font-style: normal;
    text-decoration: underline;
    cursor: pointer;
  }

  svg {
    max-height: 1.25rem;
    max-width: 1.25rem;
    margin: 0 0.5rem;
  }

  a {
    color: black;
    text-decoration: underline;
    padding-left: 4px;
  }

  &.success {
    background-color: #eff3fb;
  }

  &.error {
    background-color: #fad6da;
  }
}

.error-input {
  border: 1px solid #ab2131 !important;
}

.error-input-child {
  input {
    border: 1px solid #ab2131 !important;
  }
}

.custom-radio {
  label.custom-control-label {
    &:hover {
      cursor: pointer;
    }
    &:before, &:after {
      top: -0.1rem;
      left: -2rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }

  .custom-control-input:checked ~ .custom-control-label {
    &:before {
      background-color: #f8f8f8;
      border-color: #adb5bd;
    }

    &:after {
      background: url('~assets/img/icons/radiobutton-icon.svg') no-repeat;
      background-size: cover;
    }
  }
}

.custom-checkbox {
  padding-left: 2rem;
  margin-bottom: 1rem;

  .custom-control-input:checked ~ .custom-control-label {
    &:before {
      background-color: #f8f8f8;
      border-color: #adb5bd;
    }
    &:after {
      background: url('~assets/img/icons/checkbox-icon.svg') no-repeat;
      background-size: cover;
    }
  }

  label.custom-control-label {
    font-weight: 500;
    font-size: 0.75rem;
    display: block;
    cursor: pointer;

    &:before, &:after {
      top: -0.2rem;
      left: -2rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.25rem;
    }
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
    border-color: #adb5bd;
  }
}

.dropzone {
  border: 1px dashed #8cade2;
  border-radius: 1rem;
  padding: 1rem 1.5rem;

  &.drop-active {
    border: 4px solid #8cade2;
  }

  .filenames {
    font-style: normal;

    img {
      height: 1.2rem;
    }

    a {
      color: unset;
      &:hover {
        text-decoration: none;
        color: unset;
      }
    }
  }

  div hr {
    width: 100%;
    margin: 0;
    &.hr-upper {
      margin-top: 0.75rem
    }
    &.hr-lower {
      margin-bottom: 0.75rem;
    }
  }

  label {
    margin-top: 0;
    font-weight: normal;
    cursor: pointer;

    .drop-circle {
      width: 2rem;
      min-width: 2rem;
      height: 2rem;
      margin: 0 1rem 0 0;
      padding: 0;

      img {
        width: 50%;
        height: 50%;
      }

      &:hover {
        color: #fff;
        background-color: #1A365D;
        border-color: #1A365D;
      }
    }

    p {
      font-style: italic;
      font-size: 0.8rem;
      margin: 0;
    }
  }
}

.masonry {
  column-count: 1;

  @media (min-width: 576px) {
    column-count: 2;
  }

  @media (min-width: 1200px) {
    column-count: 3;
  }

  @media (min-width: 1800px) {
    column-count: 4;
  }

  .masonry-item {
    display: block;
    padding-bottom: 1rem;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
  }

}

.item {
  width: 100%;

  @media (min-width: 576px) {
    width: 50%;
  }

  @media (min-width: 1200px) {
    width: 33%;
  }

  @media (min-width: 1800px) {
    width: 25%;
  }
}

.v-autocomplete .v-autocomplete-list {
  z-index: 1001;
  top: 3rem;
  box-shadow: 0 0 2rem rgb(0 0 0 / 20%);
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  max-height: 24rem;
  overflow-y: auto;
  // width: 100%;

  .v-autocomplete-list-item {
    padding: 0.5rem 0.75rem;
    font-size: 0.825rem;

    &.v-autocomplete-item-active {
      background-color: #d7d7d7 !important;
      &:first-child {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
      &:last-child {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }
}
