apiVersion: v1
kind: Secret
metadata:
  name: izboljsajmo-maribor-credentials
  labels:
    app.kubernetes.io/name: izboljsajmo-maribor-credentials
    app: izboljsajmo-maribor-credentials
stringData:
  APP_ENV: ""
  SECRET_DB_NAME: ""
  SECRET_DB_USERNAME: ""
  SECRET_DB_PASSWORD: ""
  STATIC_URL_BASE: ""
  MEDIA_URL_BASE: ""
  EMAIL_USERNAME: ""
  EMAIL_PASSWORD: ""
  EMAIL_HOST: ""
  EMAIL_PORT: ""
  FROM_EMAIL: ""

