{% extends 'emails/base.html' %}
{% load i18n %}
{% block body %}

Spoštovani. Sprejeli smo vašo pobudo in se zanjo zahvaljujemo. Posredovana bo v obravnavo pristojni strokovni službi. Ko se bo spremenil status vaše pobude, vas bomo o tem obvestili na elektronski naslov, ki ste ga uporabili za registracijo. Odgovor boste prejeli najkasneje v petnajstih dneh./br></br></br>
Pridržujemo si pravico, da pobude, če so zapisane na nespoštljiv način (npr. kot grožnja, poniževanje ali žaljivo izražanje) ne obravnavamo.</br></br>
To je samodejni odgovor.

{% endblock body %}
